/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background-color: #0599a3;
    color: #0a034bc9;
    display: flex;
    margin: 20px;
    padding: 0;
    justify-content: center;
    align-items: center;
}

/* Container */
.container {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 20px;
}

/* Form Section */
.form-section {
    width: 300%;
    margin: auto;
    padding: 20px;
    color: #f0f4f8;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(3, 51, 182, 0.5);
}

fieldset{
    border: 2px solid #0a89a8;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(147, 233, 236);
}

legend{
    font-weight: bold;
    text-align: center;
}

label{
    display: block;
    margin-top: 1px;
    color:#2c3e50;
}

h1, h2 {
    text-align: center;
    color: #0a0b5f;
    margin-bottom: 10px;
}

input, textarea {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    box-sizing: border-box;
    border:  2px solid #2c3e50;
    outline: none;
}

#generate {
    background-color:#096272;
    color: #e5edf8;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
    font-weight: bold;
    border-radius: 5px;
}

#generate:hover {
    background-color: #092677;
}
#resumeOutput {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2c3e50;
    border-radius: 8px;
    background-color: rgb(136, 235, 235);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}
#resumeOutput h2{
   color: #0a0b5f ;
   
}